<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/process.css' | url }}">
    <title>Process</title>
  </head>
  <script>
    {% include "js/process.js" %}</script>
  <li>
    <a href="/">Back home</a>
  </li>
  <div class="process-card">
    {{ content | safe }}
  </div>
</html>