body {
  font-family: sans-serif;
}

.parent-container {
  display: grid;
  grid-template-columns: [left-gutter] 1.5fr [container] 11fr [right-gutter] 1.5fr;
}

.container {
  grid-column: container;
  display: grid;
  grid-template-columns: [content] 4fr;
  grid-template-rows: [header] 100px [body] auto;
}

div.header {
  grid-row: header;
  grid-column: content;
  position: relative;
  background-color: pink;
}

div.header h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  grid-column: content;
  margin: 10px;
  padding: 10px;
}