---
layout: base.njk
templateEngineOverride: njk, md
---
{% button url = "/process-index", label = "Process" %}
<div class="section" id="about">
  {{ collections.sections[0].templateContent | safe }}
</div>
<div class="section" id="links">
  {{ collections.sections[1].data.title}}
  {{ collections.sections[1].templateContent | safe }}
</div>
