---
layout: process.njk
templateEngineOverride: njk, md
---
{% button url="/", label="Back Home"%}
<div class="process" id="about">
  {{ collections.process[0].data.title }}
  {{ collections.process[0].templateContent | safe }}
</div>